/*     font-family: 'Comfortaa', cursive;

    font-family: 'Poiret One', cursive; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    font-family: 'Poiret One', cursive;
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    font-family: 'Comfortaa', cursive;
    padding: 1rem 2rem;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-group {
    display: flex;
    gap: 1rem;
}

.logo {
    font-size: 2rem;
}

.flex-nav a {
    text-decoration: none;
    color: #000;
}

.flex-nav a:hover {
    color: #BF918A;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-main {
    background: #007F5F url(./images/background_splash.jpg) no-repeat fixed center;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    max-width: 1000px;
}

.splash-text {
    margin-top: 40vh;
    margin-bottom: 1rem;
    font-size: 4rem;
    text-align: center;
    color: #fff;
}

.btn {
    border: none;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.rounded {
    border-radius: 1000px;
}

.orange {
    background-color: #FF7A5F;
}

.shop-main {
    display: flex;
    justify-content: center;
    background: #EDEBE6;
    background-size: cover;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.title-text {
    font-size: 3rem;
}

.background-tree {
    background: url(./images/aesthetic_tree.png);
    opacity: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 25vh;
    left: 50vw;
    width: 627px;
    height: 768px;
    z-index: 1;
}

.box-wrapper {
    width: 80%;
    position: relative;
    z-index: 10;
    padding-top: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.package-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.package-img {
    width: 200px;
    height: 300px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-position: center center;
    border-radius: 100px;
    margin-bottom: 1rem;
}

#croatia-main {
    background-image: url(./images/croatia_1.jpg);
}

#italy-main {
    background-image: url(./images/italy_1.jpg);
}

#poland-main {
    background-image: url(./images/poland_1.jpg);
}

#portugal-main {
    background-image: url(./images/portugal_1.jpg);
}

#slovenia-main {
    background-image: url(./images/slovenia_1.jpg);
}

#spain-main {
    background-image: url(./images/spain_1.jpg);
}

.location-text {
    font-size: 2.75rem;
}

.package-wrapper a {
    text-decoration: none;
    color: #000;
}

.brown {
    background-color: #BF918A;
}

.product-main {
    background: #EDEBE6;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
}

.product-wrapper {
    display: flex;
}

.product-info {
    background: url(./images/note_graphic.png) center no-repeat padding-box;
    background-size: contain;
    width: 491px;
    height: 491px;
}

.product-text {
    transform: rotate(4deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.product-photo {
    height: 400px;
    width: auto;
    border: 10px solid #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.photos {
    transform: rotate(-4deg) translate(30px, 50px);
}

.product-name {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.product-text ul li {
    margin-left: 2rem;
}

.product-price {
    margin-top: 1rem;
}

.product-price p {
    color: #BF918A;
    font-weight: bolder;
    font-size: 2rem;
    font-family: 'Comfortaa', cursive;
}